<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKEC-uLKbC61aWTW95nuc-g4mdB0K4NJU</string>
	<key>GCM_SENDER_ID</key>
	<string>26182838044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restApiApp</string>
	<key>PROJECT_ID</key>
	<string>ecomm-app-ef6fd</string>
	<key>STORAGE_BUCKET</key>
	<string>ecomm-app-ef6fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26182838044:ios:51a66b27a3f28d812b7cd9</string>
</dict>
</plist>